GMT program should provide all the HTTP acceptable date time formats

See https://www.rfc-editor.org/rfc/rfc2616#section-3.3.

```
HTTP applications have historically allowed three different formats
   for the representation of date/time stamps:

      Sun, 06 Nov 1994 08:49:37 GMT  ; [RFC 822](https://www.rfc-editor.org/rfc/rfc822), updated by [RFC 1123](https://www.rfc-editor.org/rfc/rfc1123)
      Sunday, 06-Nov-94 08:49:37 GMT ; [RFC 850](https://www.rfc-editor.org/rfc/rfc850), obsoleted by [RFC 1036](https://www.rfc-editor.org/rfc/rfc1036)
      Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format

   The first format is preferred as an Internet standard and represents
   a fixed-length subset of that defined by [RFC 1123](https://www.rfc-editor.org/rfc/rfc1123) [[8](https://www.rfc-editor.org/rfc/rfc2616#ref-8)] (an update to
   [RFC 822](https://www.rfc-editor.org/rfc/rfc822) [[9](https://www.rfc-editor.org/rfc/rfc2616#ref-9)]). The second format is in common use, but is based on the
   obsolete [RFC 850](https://www.rfc-editor.org/rfc/rfc850) [[12](https://www.rfc-editor.org/rfc/rfc2616#ref-12)] date format and lacks a four-digit year.
   HTTP/1.1 clients and servers that parse the date value MUST accept
   all three formats (for compatibility with HTTP/1.0), though they MUST
   only generate the [RFC 1123](https://www.rfc-editor.org/rfc/rfc1123) format for representing HTTP-date values
   in header fields. See [section 19.3](https://www.rfc-editor.org/rfc/rfc2616#section-19.3) for further information.
```

Suggest "-822", "-850", and "-asc" as format options. Don't forget to update the help.

Also suggest an option to print out the epoch seconds (since there is an "epoch_secs_to_datetime()" function in Calc's library. Maybe "-sec" or "-secs" or "-seconds".